# Deny all
<FilesMatch ".*">
	order allow,deny
	deny from all
	Allow Override all
</FilesMatch>
# Allow several files
<FilesMatch "index.php">
	order allow,deny
	allow from all
	Allow Override all
</FilesMatch>
# Optional: explicit deny files
<FilesMatch "*.(htaccess|ini)$">
	order allow,deny
	deny from all
	Allow Override none
</FilesMatch>
