[openerp]
server = xn--eichhrnchen-vfb.fablab.fau.de
port = 443
user = kassenterminal
password = foooobaaaar
database = production_test
base_category_id = 1
pos_config_id = 2
pricelist_id = 1
version = 7.0

[nextprodid]
reserved_ids = [[0, 100], [2000, 2001]] # excludes all numbers from 0 to 99 (include) and 2000 (<- from 2000 to 2001 (excl.) = 2000)
